🚀 Feature: Federated User Credentials

**TLDR:** Add support for Federated User Credentials as defined in RFC 7523 §2.1 to allow users (and agents) to obtain tokens from Pocket ID by presenting an assertion signed by an external IdP.

## Background on RFC 7523

Pocket ID already supports federated credentials for client authentication, as defined by RFC 7523 §2.2. These allow authenticating clients (OAuth2 apps/clients) without client secrets while performing an exchange of an authorization code for an access token, or in the client credentials flow.

The same RFC defines in §2.1 federation for user credentials. This allows, in the `/token` endpoint, presenting an assertion signed by an external IdP, instead of an authorization code.

The two parts of the RFC are mostly independent, but adding support for §2.1 would allow us to offer complete support for the spec.

## Why

Pocket ID is built around the idea of users authenticating with a passkey. Over time, we've added support for device code login or email-based login, but all of these are interactive authentication methods, which require a user to be present.

There's increasing demand for unattended authentication methods, especially with agents. #1689 was an initial proposal but was an ad-hoc solution, not based on industry standards.

One way we can offer unattended authentication method without passwords or other long-lived credentials is to support federation for user credentials, as defined by RFC 7523.

## How

Unlike §2.2, which could be added by "simply" adding a few text fields to the OIDC client configuration, supporting federation for client credentials is a bit more complex and requires some design.

Based on what other IdPs support too (like Keycloack, Okta), we would need 3 things:

1. Configure what external IdPs we trust, globally for the Pocket ID instance. For example, we can say we trust Google or any other IdP that speaks OIDC (we just need the OIDC configuration document) - this is similar to how we configured federated clients
2. In each client, enable the use of federation for user credentials, for one or more external IdPs. For example, with OIDC client "X", we can enable federation with IdP Google, and for client "Y" we do not allow federation at all.
3. Finally, we need to allow a way to map each user on Pocket ID to the user on an external IdP. This depends on how the IdP is configured. Various options that I considered including:
   - Mapping to a user ID in Pocket ID, for example via the `user_id` or `sub` claims in the external token
   - Mapping to an email address on Pocket ID, for example via the `email` or `sub` claims in the external token.  
      When this is chosen, there should be an additional option to require that `email_verified` in the external token be true
   - Custom mapping. Here the admin configures what claim to look for in the external token (e.g. `sub`, `oid`, or anything else) and then there's a **manual** mapping to Pocket ID users. This is necessary when the external IdP doesn't have emails that match Pocket ID's and doesn't have a way to set the user ID in Pocket ID as one of the claims.

## Mockups

Adding an external IdP (globally in Pocket ID).  
Note the "subject mapping". This can be set to user ID, email, or custom, and then admins choose the name of the claim to map.

<img width="629" height="645" alt="Image" src="https://github.com/user-attachments/assets/08b4cc1d-ea81-4f41-bb59-a1dc364e16cf" />

When using custom mappings, there's an additional table in the configuration for *that* external IdP that allows mapping Pocket ID users to external claims. To make things simpler, admins can download a CSV file that contains each user in Pocket ID and their username and email, and then there's an empty column with the desired claim from the external IdP (e.g. `oid`). The admin will need to input the value from the external IdP and upload the CSV to make the changes. (Or, can make changes direclty in the UI, but this can be slower at scale)

<img width="627" height="351" alt="Image" src="https://github.com/user-attachments/assets/65d6becb-f954-496b-935f-8355e33fca29" />

<img width="619" height="440" alt="Image" src="https://github.com/user-attachments/assets/5e48735b-bddb-41bc-af26-1b14fdecac44" />

## Some final thoughts

One thing to keep in mind... This does change a bit what Pocket ID is philosophically. Pocket ID was born to be a way to sign in with Passkeys, and with more ways to sign in, it's becoming more of a complete, general purpose IdP itself. This is probably a good natural evolution. So, while I argue this feature can be helpful, especially to enable agentic use cases, I also understand that this does add a bit of complexity.

Also worth mentioning that this lays the foundation to support authentication with external logins like Google or Microsoft or Apple etc. It is not enough to enable doing that, but if one day we decided to do that, this would have laid the foundation for the work (especially regarding mappings).
